.home-title{
    border: #19a8f0 solid;
    font-size: 50px;
    background-color: #19a8f0;
    border-radius: 2%;
    width: 677px;
    margin: 0 auto;
    margin-top: 110px;
    box-shadow: 24px 10px 1.4px 3px orange;

}