.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #19a8f0;
    color: #333;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    transition: 0.4s;
    margin-top: 20px;
  }

  .button:hover {
    background-color: #1284bc;
  }

  .button:active {
    background-color: #3b6a82;
  }

  .button.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }