.table {
    width: 80%;
    border-collapse: collapse;
    margin: 0 auto;
    margin-top: 90px;
  
  }

  .table th,
  .table td {
    padding: 8px;
    border: 1px solid rgb(0, 0, 0);
    background-color: #303030;
    color: #8D8D8D;
  }

  .table th {
    font-weight: bold;
  }

  .table tr:nth-child(even) {
    background-color: #000000;
  }

  .table tr:hover {
    background-color: #000000;
  }
